{% extends "sevalinks/base.html" %}

{% block title %}Sevalinks - Forgot Password{% endblock %}

{% block style_content %}
<style>
   .input-field label {
     font-size: 10px;
   }
</style>
{% endblock %}

{% block main_content %}
<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <br><br>    
  <div class="row">
  	{% if reset_request_success == "success" %}
  	<div class="row">  		
  		<div class="col s12">  			 		
		  	<h5 class="header center orange-text">Please check your email, we have sent you a url link to reset the password.</h5>		  	
	    </div>
	    <br><br>
	    <br><br>
	    <br><br>
	    <br><br> 
	</div>
  	{% else %}
  	<form class="col s12" action="/seva/forgotpassword/" method="post">
  		{% csrf_token %}
  	<div class="row">
  		<div class="col s12">
			<p style="height:10px;color: #f44242;">{{ validation_error }}</p>
		</div>
  		<div class="col s12">  			 		
		  	<h5 class="header center orange-text">Please enter your email to reset your password.</h5>		  	
	    </div> 		
	    
	    <div class="col s12">  		
		  	<div class="input-field col s6">	  	  
		      <input id="id_email" name="email" type="text" value="{{ email }}" placeholder="Eg. walter@heisenberg.com" class="validate">
		      <label for="id_email">Email</label>
		    </div>
	    </div>
	    <div class="col s12">
	    	<br />	    		    		  	
	    </div>	    
	    <div class="col s12">
		    <div class="input-field col s3">		    	
			    <button class="btn waves-effect waves-light" type="submit" name="action">Go
		    	<i class="material-icons right">send</i>
		  		</button>
	  		</div>	  		
  		</div>  		
	    
    </div>
    </form>
    {% endif %}
  </div>
  <br><br>

</div>
</div>

{% endblock %}