{% extends "sevalinks/base.html" %}

{% block title %}Sevalinks - 500{% endblock %}

{% block style_content %}
<style>
   .input-field label {
     font-size: 10px;
   }
</style>
{% endblock %}

{% block top_menu %}
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">SevaLinks</a>      
    </div>
  </nav> 
{% endblock %}

{% block main_content %}
<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <br><br>
      <h1 class="header center orange-text">500</h1>
      <div class="row center">
        <h5 class="header col s12 light">Oops, seems like something went wrong.</h5>
      </div>      
      <br><br>
</div>
</div>
{% endblock %}